<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <title>{{title}}</title>
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Donate Lanka</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{#if user}}
                    <li><a href="/">Members</a></li>
                {{/if}}
                {{#unless user}}
                    <li><a href="/users/register">Register</a></li>
                    <li><a href="/users/login">Login</a></li>
                {{/unless}}
            </ul>
            {{#if user}}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/logout">Logout</a></li>
                </ul>
            {{/if}}
        </div>

    </div>
</nav>

<div class="container">
    <div class="row">

        {{{messages}}}

        <script src="/javascripts/bootstrap.js"></script>


        {{{body}}}

    </div>
</div>
</body>
</html>