

<div class="login_box">
    <div class="login-form">
        <img src="/images/signUp.png" class="avatar">
        <p>LOGIN</p>
        <h3>Donate Lanka!</h3>
        <form class="horizontal" method="post" action="/users/login">

            <div class="form-group">
                <div>
                    <input type="text" class="form-control" name="username" placeholder="Enter Username">
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password">
                </div>
            </div>

            <div class="form-group">
                <a href="#">Forgot Password?</a>
            </div>

            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-primary" value="Login"></input>
            </div>

            <a href="#">
                <img src="/images/fb-login.png" height="30px" width="150px">
            </a>
            <a href="#">
                <img src="/images/g-login.png" height="30px" width="150px">
            </a>


        </form>
    </div>
</div>


