<div class="reg_box">

    <div class="reg-form">
        <img src="/images/signUp.png" class="avatar">
        <p>REGISTER</p>
        <h3>Donate Lanka!</h3>
        <form class="horizontal" method="post" action="/users/register" enctype="multipart/form-data">

    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger">
                {{this.msg}}
            </div>
        {{/each}}
    {{/if}}


        <div class="form-group">
            <div>
                <input type="text" class="form-control" name="firstname" placeholder="Enter First Name*">
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="text" class="form-control" name="lastname" placeholder="Enter Last Name*">
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="email" class="form-control" name="email" placeholder="Enter E-mail*">
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="text" class="form-control" name="username" placeholder="Enter Username*">
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="password" class="form-control" name="password" placeholder="Enter Password*">
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password*">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-6 control-label">Profile Image</label>
            <div>
                <input type="file" name="profileimage" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-primary" value="Register"></input>
        </div>

    </form>
    </div>
</div>



