ul.success li{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    list-style: none;
}

ul.error li{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.login_box{
    width: 440px;
    margin: 0px auto;
    height: 420px;
    background: #000000;
    color: #fff;
    top: 44%;
    left: 75%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.reg_box{
    width: 440px;
    margin: 0px auto;
    height: 645px;
    background: #000000;
    color: #fff;
    top: 59%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-form{
    background: #5e5e5e;
    padding: 40px 30px;
    top: 20%;
    left: 75%;
    width: 380px;
    box-sizing: border-box;
    height: 420px;
}

.reg-form{
    background: #5e5e5e;
    padding: 40px 30px;
    top: 20%;
    left: 75%;
    width: 380px;
    box-sizing: border-box;
    height: 650px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h3{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

p{
    margin: 0;
    padding: 0 0 15px;
    text-align: center;
    font-size: 16px;
}


.login{
    width: 50%;
    background: #000;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.reg{
    width: 50%;
    background: #000;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.login_box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.reg_box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login_box input{
    width: 100%;
    margin-bottom: 20px;
}

.reg_box input{
    width: 100%;
    margin-bottom: 20px;
}

.login_box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.reg_box input[type="text"], input[type="password"],input[type="email"],input[type="file"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.login_box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    /*margin-bottom: : 10px;*/
    background: #ec971f;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.reg_box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    /*margin-bottom: : 10px;*/
    background: #ec971f;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login_box input[type="submit"]:hover{
    cursor: pointer;
    background: #E3AC64;
    color: #000;
}

.reg_box input[type="submit"]:hover{
    cursor: pointer;
    background: #E3AC64;
    color: #000;
}

.login_box a{
    text-decoration: darkgoldenrod;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #CE7E16;
    text-align: center;
}

.reg_box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    color: darkgrey;
}

.login_box a:hover{
    color: #ffc107;
}

.reg_box a:hover{
    color: #ffc107;
}